/*
font-family: 'NanumSquareNeoLight';
font-family: 'NanumSquareNeo';
font-family: 'NanumSquareNeoBold';
font-family: 'NanumSquareNeoExtraBold';
font-family: 'NanumSquareNeoHeavy';
*/

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}


img,
video,
iframe {
    vertical-align: middle;
}

body {
    font-family: 'NanumSquareNeoBold';

    color: #000;
    font-size: 20px;
    line-height: 120%;
    min-width: 1450px;
}

/*main_fix*/
#main_fix {
    position: fixed;
    right: 100px;
    top: 45%;
    transform: translateY(-50%);
    z-index: 20;
}

.main_fix>ul>li {
    position: relative;
    padding-bottom: 20px;
}


.main_fix>ul>li:hover .fix_hover {
    opacity: 1;
}

.fix_hover {
    position: absolute;
    top: -1px;
    left: -1px;
    opacity: 0;
    transition: all 0.5s;
}

/*header*/
#header {

    font-family: 'NanumSquareNeoBold';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 20; */


}

#header::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
}

.header_inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 105px;
}

.header_inner>.nav>li>a,
.header_inner>.link>li>a {
    color: #fff;
}

.nav,
.link {
    display: flex;
}

.nav>li {
    padding: 39px 64px;
}

#header .nav>li:hover>a {
    color: #fcb72b;
    transition: color 0.3s ease;

}



.link {
    font-size: 15px;
}

.link>li {
    padding-left: 42px;
}

.link>li>a:hover {
    font-family: 'NanumSquareNeoExtraBold';
    transition: color 0.3s ease;
}

/*sub*/

.sub>li {
    color: #4d4d4d;
    font-size: 14px;
    font-weight: normal;
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

.sub>li>a {
    color: #ffffff0e;
}

#header .nav>li .sub>li>a:hover {
    color: #fcb72b;
    transition: color 0.3s ease;
}

.sub {
    padding: 20px 0;
    position: absolute;
    top: 89px;
    left: 0;
    width: 100%;
    display: none;
    padding-top: 50px;
    z-index: 50;
}

/* 서브 동그라미모양 스타일 */
.nav>li:hover>.sub::before {
    content: url(../images/nav/nav.png);
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.nav>li {
    position: relative;
}



.header_inner {
    position: relative;
    z-index: 30;
}



#header.bg_on a {
    color: #363636;
}

#header.bg_on::after {
    background-color: #ccc;
}

.white_bg {
    background-color: #fff;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}

/*sub_banner*/

#sub_banner {
    background: url(../images/sub_2-1/banner_bg.jpg)no-repeat center center;
    height: 450px;
    color: #fff;
    text-align: center;

    position: relative;
}

.sub_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.sub_center {
    font-family: 'yg-jalnan';
    font-size: 30px;
}

.sub_center>h3 {
    padding-top: 30px;

}

.q_menu {
    font-family: 'NanumSquareNeoBold';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.q_menu>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 936px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    text-align: center;/
}

.q_menu>ul>li {
    width: 33.3%;
}

.q_menu>ul>li>a:hover {
    color: #d26d6b;
    transition: color 0.3s ease;
}

/*procedure_inner*/
.procedure_inner {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}

.procedure_inner>p {
    color: #156665;
    padding-bottom: 70px;
    font-size: 25px;
}

.orange {
    color: #ee7c00;
}

.procedure_inner>h3 {
    font-family: 'yg-jalnan';
    color: #ee7c00;
    padding-top: 90px;
    padding-bottom: 30px;
    font-size: 35px;
}

.procedure_t {
    width: 1000px;
    margin: 0 auto;
    background: url(../images/sub_2-2/procedure.png)no-repeat center center;
    height: 1857px;
}

.procedure_t h3 {
    font-family: 'NanumSquareNeoHeavy';
    font-size: 25px;
    color: #4d4d4d;
    padding-bottom: 20px;
}

.procedure_t p {
    font-family: 'NanumSquareNeo';
    font-size: 20px;
    color: #4d4d4d;
}

.text2 .org {
    color: #ee7c00;
    font-family: 'NanumSquareNeoBold';
    padding-top: 40px;
}

.text2 .orgsmall {
    font-size: 15px;
    font-family: 'NanumSquareNeoBold';
    color: #ee7c00;
    padding-top: 15px;
}

.text1 {
    padding-left: 580px;
    padding-top: 160px;
}

.text2 {
    padding-left: 150px;
    padding-top: 220px;
}

.text3 {
    padding-left: 580px;
    padding-top: 220px;
}

.text4 {
    padding-left: 150px;
    padding-top: 260px;
}

.text5 {
    padding-left: 580px;
    padding-top: 265px;
}

/*flim*/

#film {
    width: 100%;
    height: 252px;
    /*배경이미지 높이로 설정*/
    background: url(../images/sub_2-2/flim.png) repeat-x left top;
    background-size: auto 252px;
    animation: movement 40s linear infinite;
}

@keyframes movement {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: 3567px 0px;
        /*배경이미지 길이만큼 설정합니다!*/
    }
}

#story {
    text-align: center;
}

#story>h3 {
    font-family: 'yg-jalnan';
    color: #ee7c00;
    padding-top: 90px;
    padding-bottom: 30px;
    font-size: 35px;
}

#story>p {
    color: #156665;
    padding-bottom: 70px;
    font-size: 25px;
}

/*photo*/
#photo {
    background: url(../images/sub_2-2/photo_bg.jpg)no-repeat center center;
    height: 1647px;
    position: relative;
}

.cloud_left {
    position: absolute;
    top: 20%;
    left: 40px;
    animation: move1 2s linear infinite;
}

.cloud_right {
    position: absolute;
    top: 12%;
    right: 11%;
    animation: move2 2s linear infinite;

}


.photo_t {
    color: #156665;
    padding-bottom: 70px;
    font-size: 30px;
    font-family: 'yg-jalnan';
    text-align: center;
    line-height: 60px;

}

.photo_inner {
    width: 1320px;
    margin: 0 auto;
}

.photo_inner img {
    padding-top: 150px;
}

.skyblue {
    color: #9bd3d5
}


/*footer*/

#footer {
    text-align: center;
    font-size: 15px;
    font-family: 'NanumSquareNeo';
    background: url(../images/main/footer/footer2_bg.jpg)no-repeat center center;
    height: 268px;
    position: relative;

}


.footer_inner {
    width: 1320px;
    margin: 0 auto;
}

.footer_inner {
    color: #fff;
}


.bank {
    font-family: 'NanumSquareNeoExtraBold';
    padding-top: 20px;
    padding-bottom: 5px;
}

.footer_inner ul {
    display: flex;
    justify-content: center;
}

.footer_inner li {

    padding-bottom: 5px;
    padding: 0 10px;
}

.topbtn {
    position: absolute;
    bottom: 80px;
    right: 93px;
}


@keyframes move1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes move2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}