/*
font-family: 'NanumSquareNeoLight';
font-family: 'NanumSquareNeo';
font-family: 'NanumSquareNeoBold';
font-family: 'NanumSquareNeoExtraBold';
font-family: 'NanumSquareNeoHeavy';
*/

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}


img,
video,
iframe {
    vertical-align: middle;
}

body {
    font-family: 'NanumSquareNeoBold';

    color: #000;
    font-size: 20px;
    line-height: 120%;
    min-width: 1450px;
}

/*main_fix*/
#main_fix {
    position: fixed;
    right: 100px;
    top: 45%;
    transform: translateY(-50%);
    z-index: 20;
}

.main_fix>ul>li {
    position: relative;
    padding-bottom: 20px;
}


.main_fix>ul>li:hover .fix_hover {
    opacity: 1;
}

.fix_hover {
    position: absolute;
    top: -1px;
    left: -1px;
    opacity: 0;
    transition: all 0.5s;
}


/*header*/
#header {

    font-family: 'NanumSquareNeoBold';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 20; */


}

#header::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
}

.header_inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 105px;
}

.header_inner>.nav>li>a,
.header_inner>.link>li>a {
    color: #fff;
}

.nav,
.link {
    display: flex;
}

.nav>li {
    padding: 39px 64px;
}

#header .nav>li:hover>a {
    color: #fcb72b;
    transition: color 0.3s ease;

}



.link {
    font-size: 15px;
}

.link>li {
    padding-left: 42px;
}

.link>li>a:hover {
    font-family: 'NanumSquareNeoExtraBold';
    transition: color 0.3s ease;
}

/*sub*/

.sub>li {
    color: #4d4d4d;
    font-size: 14px;
    font-weight: normal;
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

.sub>li>a {
    color: #ffffff0e;
}

#header .nav>li .sub>li>a:hover {
    color: #fcb72b;
    transition: color 0.3s ease;
}

.sub {
    padding: 20px 0;
    position: absolute;
    top: 89px;
    left: 0;
    width: 100%;
    display: none;
    padding-top: 50px;
    z-index: 50;
}

/* 서브 동그라미모양 스타일 */
.nav>li:hover>.sub::before {
    content: url(../images/nav/nav.png);
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.nav>li {
    position: relative;
}



.header_inner {
    position: relative;
    z-index: 30;
}



#header.bg_on a {
    color: #363636;
}

#header.bg_on::after {
    background-color: #ccc;
}

.white_bg {
    background-color: #fff;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}

/*sub_banner*/

#sub_banner {
    background: url(../images/sub_2-1/banner_bg.jpg)no-repeat center center;
    height: 450px;
    color: #fff;
    text-align: center;

    position: relative;
}

.sub_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.sub_center {
    font-family: 'yg-jalnan';
    font-size: 30px;
}

.sub_center>h3 {
    padding-top: 30px;

}

.q_menu {
    font-family: 'NanumSquareNeoBold';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.q_menu>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 936px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    text-align: center;/
}

.q_menu>ul>li {
    width: 33.3%;
}

.q_menu>ul>li>a:hover {
    color: #d26d6b;
    transition: color 0.3s ease;
}

.choice {
    color: #d26d6b;
}

/*pet*/

#pet {
    background: url(../images/sub_2-1/pet_bg.jpg)no-repeat center center;
    width: 100%;
    height: 2380px;
    text-align: center;
    color: #156665;
    position: relative;
}

.cloud_ani_left {
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 10;
    animation: move1 3s linear infinite;
}


.cloud_ani_right {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 10;
    animation: move2 3s linear infinite;
}

.orange {
    color: #ee7c00;
}

.pet_inner {
    width: 1320px;
    margin: 0 auto;
}

.pet_inner>p {
    color: #156665;
    padding-bottom: 70px;
    font-size: 25px;
}

.pet_inner>h3 {
    font-family: 'yg-jalnan';
    color: #ee7c00;
    padding-top: 90px;
    padding-bottom: 30px;
    font-size: 35px;
}

.pet>ul {
    padding-bottom: 45px;
}

.pet1,
.pet2,
.pet3 {
    display: flex;
    justify-content: space-around;
}

/*footer*/

#footer {
    text-align: center;
    font-size: 15px;
    font-family: 'NanumSquareNeo';
    background: url(../images/main/footer/footer2_bg.jpg)no-repeat center center;
    height: 268px;
    position: relative;

}


.footer_inner {
    width: 1320px;
    margin: 0 auto;
}

.footer_inner {
    color: #fff;
}


.bank {
    font-family: 'NanumSquareNeoExtraBold';
    padding-top: 20px;
    padding-bottom: 5px;
}

.footer_inner ul {
    display: flex;
    justify-content: center;
}

.footer_inner li {

    padding-bottom: 5px;
    padding: 0 10px;
}


.topbtn {
    position: absolute;
    bottom: 80px;
    right: 93px;
}

@keyframes move1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes move2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}